---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Roboto:400,700,200|Open Sans:300,400');

// Import partials from `sass_dir` (defaults to `_sass`)



@import
  {% if site.bootwatch %}
    "bootswatch/{{site.bootwatch | downcase}}/variables",
  {% endif %}

  "bootstrap",

  {% if site.bootwatch %}
    "bootswatch/{{site.bootwatch | downcase}}/bootswatch",
  {% endif %}

  "syntax-highlighting",
  "typeahead"
;

html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: $navbar-height + $navbar-margin-bottom;
  margin-bottom: 46px;
}

.navbar-brand{
  font-family: 'Comfortaa',sans-serif;
  img{
    margin: -$navbar-padding-vertical 0;
    height: $navbar-height;
    padding: 10px 0;
  }
}
.btn-base{
    top: 5px;
    padding: 10px!important;
    border-radius: 100px;
    cursor: pointer;
    color: #fff!important;
    background: #CB356B;
    background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);
    background: -webkit-linear-gradient(left, #BD3F32, #CB356B);
    background: linear-gradient(to right, #BD3F32, #CB356B);
    border-color: #CB356B;
}
.btn-base:hover{
    color: #fff!important;
    background-color: #b93162;
    border-color: #b93162;
    background: #b93162;
    background: -webkit-linear-gradient(to right, #BD3F32, #b93162);
    background: -webkit-linear-gradient(left, #BD3F32, #b93162);
    background: linear-gradient(to right, #BD3F32, #b93162);
    border-color: #b93162;
}
.header-container {
  background-color: black;
  background: url('../img/bg.jpg') no-repeat 50% 0;
  color: #fff;

  h1 {
    color: #fff;
  }
  // background-attachment: fixed;
  background-size: cover;
  background-position: center 36%;
  margin-top: -37px;
}
.navbar-container {
  font-size: 16px;
}
.page-content {
  padding-bottom: 20px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 46px;
  padding-top: 10px;
  background-color: $gray-lighter;
  color: $gray-dark;
}

.post-list-container {
  li a.active {
    font-weight: bold;
  }
}
*[id]:before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}
.navbar-form .has-feedback .form-control-feedback{
  top:10px
}
